/* General */
body.dark .modal-content {
    background-color: #172636;
}
body.dark .close {
    color: white;
}

.nav-tabs {
    border-bottom-color: #151F28;
}

body.dark .text {
    fill: white;
}
body.dark, body.dark footer {
    color: white;
    background-color: #172636;
}
hr {
    background-color: white;
}


/* Main Page */
body.dark .bannerArea {
    background-image: url(/dark.jpg);
}

body.dark input#summonerName {
    background-color: #303947;
    border: 0px;
    color: #898e96;
}

.primary {
    background-color: #303947;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

body.dark .btn-primary {
    background-color: #2aa3cc;
    border: none;
    color: black;
}

body.dark .btn-primary:not(:disabled):not(.disabled).active {
    background-color: #66c1df;
    border: none;
    color: black;
}

body.dark .search-form {
    background-color: #3a4556;
    box-shadow: none;
}

/* Match Page */

body.dark table.champ {
    background-color: #202B43;
    color: white;
    box-shadow: none;
}
body.dark td {
    color: #9EACC5;
}

body.dark .cooldowns p:nth-child(odd) {
    background-color: #273552;
}
body.dark .cooldowns p:nth-child(even) {
    background-color: #23304A;
}
