@import url("font-roboto.css");

.container-fluid {
    height:100%;
    padding: 0px;
}

* {
    user-select: none;
}

html, body {
    height: 100%;
    margin: 0px
}

/** needed to make tippy works **/
[data-tippy-root] {
    width: max-content;
}

body {
    overflow: hidden;
}

main {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
  margin: 0;
  cursor: default;
}

p {
    margin: auto;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

/* ads */
.ad-container {
    background-color: #202B43;
}

.ad-container.main {
    width: 400px;
    height: 300px;
}

.ad-container.app {
    width: 728px;
    height: 90px;
}

/* settings */
#version {
    font-size: 0.85rem;
}

/* scrollbar */
main::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #273552;
}

main::-webkit-scrollbar-thumb {
  background-color: #9EACC5;
  border-radius: 20px;
}

/** spinner **/
main {
    position: relative;
}

 .spinner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.spinner-border {
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-left: -40px;

    position: absolute;
    top: 50%;
    left: 50%;
}



/*  DISABLING BOOSTRAP  FOCUS */
.btn:focus,
.btn:active,
.focus {
  outline: none !important;
  box-shadow: none !important;
}
