@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

.container-fluid {
    height:100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 170px); */
}

html, body {
    height: 100%;
    margin: 0px
}

body {
    overflow: hidden;
}

main {
    height: 100%;
    overflow: auto;
}

h1,
h2 {
  margin: 0;
  cursor: default;
}

p {
    margin: auto;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

.ad-container {
    background-color: #202B43;
}

.ad-container.main {
    width: 400px;
    height: 300px;
}

.ad-container.app {
    width: 728px;
    height: 90px;
}

/* Settings */
#version {
    font-size: 0.85rem;
}

/* scrollbar */
main::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #273552;
}

main::-webkit-scrollbar-thumb {
  background-color: #9EACC5;
  border-radius: 20px;
}

/*  DISABLING BOOSTRAP  FOCUS */
.btn:focus,
.btn:active,
.focus {
  outline: none !important;
  box-shadow: none !important;
}
