/* making the footer sticky */
.container-fluid {
    height:100%;
    display: flex;
    flex-direction: column;
}
.game-details {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin-bottom: 13px;
}

/** champ card header **/
th.blue {
    background-color: #45A9F1;
    height: 2px;
}

th.red {
    background-color: #FF5859;
    height: 2px;
}

/** champ card **/
table.champ {
    margin: 3px;
    background-color: #F3F5F8;
    box-shadow: 0px 0px 6px #999;
}

.cdr-numbers {
    font-size: 0.8rem;
}
.cdr-numbers > div {
    display: inline;
    margin-right: 0.5em;
    width: 100%;
}

.cdr-numbers p {
    display: inline;
    margin-right: 0.5em;
    width: 50%;
}

.cdr-numbers span:not(.item-cdr):not(.summoner-spell-cdr), .cdr-numbers small{
     color: #8d8d8d;
}

.cdr-numbers span.item-cdr {
    padding-right: .3em;
}

.cdr-numbers span.summoner-spell-cdr {
    padding-right: .15em;
}

.champ-icon-container {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.champ-icon-container.advanced{
    width: 45px;
    height: 45px;
    float: left;
}


.icon-container {
    height: 100%;
    background: radial-gradient(#24394f, #151F28);
    position: relative;
}

img.champ-icon {
    width: 100%;
}

.spells-cdr-holder {
    width: 100px;
    height: 45px;
}

.spells-cdr-cell {
    height: 45px;
    float: right;
}

.spells-cdr-cell img {
    margin:auto;
}

.spells-cdr-cell > div {
    display:inline;
}

/** cdr elements **/
.spells-cdr-cell {
    display: inline-flex;
}

.active-items p {
    font-size: 0.6rem;
}

table.advanced .active-items p {
    font-size: 0.8rem;
}

.active-items td {
    height: 32.2px;
}


.active-item-icon {
    height: 100%;
    width: 100%;
    border-radius: 90px;
}

.item-overlay {
    border-radius: 90px;
}


.item-icon, .rune-icon, .cloud-image{
    height: 20px;
    width: 20px;
    border-radius: 90px;
    border: solid 0.1px #8A8F94;
}

.items {
    width: 100px;
}
.runes {
    width: 60px;
}

.items,
.runes,
.abilities-cdr-cell > td,
.ultimate-cdr-cell > td{
    position: relative;
}

.kill-count-container {
    width: 100px;
}

.spells-cdr-value {
    margin-left: 5px;
}

img[alt="statmodscdrscaling"] {
    background-color: black;
}


/** spells **/
div.spells {
    display: flex;
    font-size: 0.7em;
    text-align: center;
}

div.spells.advanced {
    float: right;
}

.spell-icon-container {
    height:28px;
    width:28px;
}

.spell-icon-container.advanced {
    height:25px;
    width:25px;
}

.spells img {
    width: 100%
}

/** ABILITIES **/

.abilities {
    margin: 0px;
    width:200px;
    text-align:center;
}

img.ability-icon {
    height: 25px;
}

.abilities td {
    width:100%;
}

div.ability-img-container, .item-img-container {
    position: relative;
    top: 0;
    margin:auto;
    width: fit-content;
}

.item-img-container {
    width: 20px;
    height: 20px;
}

table.advanced .item-img-container {
    width: 25px;
    height: 25px;
}

.ability-icon {
    position: relative;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    left: 80%;
    height: 2vh;
}

.cooldowns > p.cooldown {
    display: inline;
    font-size: 0.9em;
    background-color: #FFF;
    text-align: center;
}

.cooldowns:first-child:nth-last-child(1) p {
    width: 100%;
}
.cooldowns:first-child:nth-last-child(2) p {
    width: 50%;
}
.cooldowns:first-child:nth-last-child(3) p {
    width: 33.333%;
}
.cooldowns:first-child:nth-last-child(4) p {
    width: 25%;
}
.cooldowns:first-child:nth-last-child(5) p {
    width: 20%;
}

p small:not(:empty) {
    font-size: 0.7em;
}

.overlay  {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    cursor: pointer;
}

.ultimate-overlay {
    font-size: 0.7em;
    font-weight: normal;
}

.overlay > p {
    margin-top: 15%;
}

.tippy-box[data-theme~='dark'] {
  border: 1px solid #8A8F94;
  background-color: #172636;
}
 .tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #8A8F94;
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #8A8F94;
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #8A8F94;
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #8A8F94;
}
