/** general **/
p {
    margin: auto;
}

/** champ card header **/
th.blue {
    background-color: #45A9F1;
}

th.red {
    background-color: #FF5859;
}

/** champ card **/
table.champ {
    margin: 3px;
    background-color: #F3F5F8;
    box-shadow: 0px 0px 6px #999;
}

/** champ icon **/
td.cell.champ {
    width: 35px;
} 

img.champ-icon {
    width: 35px;
    margin: 5px;
}

.items {
    width: 100px;
}
.items > img,
.runes > img {
    vertical-align: top;
}

.runes {
    width: 60px;
}

/* .runes {
    margin-left: 30px;
} */

.items,
.runes,
.abilities-cdr-cell > td,
.ultimate-cdr-cell > td{
    position: relative;
}

/* .spells-cdr-cell {
    display: inline;
} */

.spells-cdr-value {
    margin-left: 10px;
}

div.spells {
    display: flex;
    font-size: 0.7em;
    float: right;
    text-align: center;
}

img.rune-icon,
img.item-icon,
.buff  {
    height: 20px;
    border-radius: 90px;
    border: solid 1px #8A8F94;
}

img.spell-icon {
    height:20px;
}

img.ability-icon {
    height: 25px;
}

img[alt="statmodscdrscaling"] {
    border-radius: 90px;
    background-color: black;
}

.cooldown-reduction-cell p {
    display: inline;
}


/** ABILITIES **/

.abilities {
    margin: 0px;
    width:200px;
    text-align:center;
}

.abilities td {
    width:100%;
}
div.ability-img-container {
    position: relative;
    top: 0;
    margin:auto;
    width: fit-content;
}
.ability-icon {
    position: relative;
    top: 0;
    left: 0;
}
.ability-icon.active {
    border-left: solid blue;
}
.info {
    position: absolute;
    left: 80%;
    height: 1.5vh;
}
.info-attribution {
    height: 1.5vh;
}

.indication {
    position: absolute;
    top: 0%;
    height: 100%;
    display:none;
}

.cooldowns > p.cooldown {
    display: inline;
    font-size: 0.9em;
}

.cooldowns {
    background-color: #FFF;
    text-align: center;
}
p.cooldown {
    padding: inherit;
}

.cooldowns:first-child:nth-last-child(1) p {
    width: 100%;
}
.cooldowns:first-child:nth-last-child(2) p {
    width: 50%;
}
.cooldowns:first-child:nth-last-child(3) p {
    width: 33.333%;
}
.cooldowns:first-child:nth-last-child(4) p {
    width: 25%;
}
.cooldowns:first-child:nth-last-child(5) p {
    width: 20%;
}

p small:not(:empty) {
    font-size: 0.7em;
}
